<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BrowserUrl" value="http://facility1.qa.iqisystems.com/QICast/Facility?id=4eaa26c6-bb97-46b9-a7e8-16367c357f78"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
